
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
	background: #f6f5f7;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin-top: 100px;
	min-width: 800px;
	overflow: hidden;
}

h1 {
	font-weight: bold;
	margin: 0;
}

.sign-in-container h4, .sign-up-container h4 {
	position: absolute;
	top: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

/* a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
} */

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	max-width: 60vw;
	max-width: 100%;
	min-height: 480px;
	min-width: 700px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	height: 40px;
	width: 40px;
	font-size: 32px;
}

.social{
	display: flex;
	justify-content: space-evenly;
}

.social i{
	font-size: 64px;
	display: flex;
	justify-content: space-evenly;
}




.logo-name{
color: #FF416C; 
font-family: 'Montserrat', sans-serif;
font-size: 4rem;
font-weight: lighter;
margin-bottom: 2%;
}

.logo-container {
	width: 200px;
	display: flex;
	margin: 0 auto;
}

.logo-img {
	background-color: #FF416C;
	border-radius: 50%;
	height: 3.2rem;
	position: relative;
	margin: auto;
	margin-bottom: 8%;
	vertical-align: text-bottom;
}

#navigation {
	display: flex;
	top: 0;
}

.nav-wrapper img.logo-img {
	height: 1.8rem;
	padding: 0;
	margin-top: 11%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.nav-wrapper .logo-name{
	font-size: 2rem;
	margin-left: 10%;
}

#nav-mobile {
	justify-items: flex-end;
	right: 0;
	top: 0;
}

#nav-mobile a {
	color: #FF416C;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	margin-bottom: 2%;
}

#navigation .logo-container {
	width: 160px;
	display: flex;
	padding: 0;
	margin-left: 0;
}
#navigation .logo-container a {
	width: 200px;
	display: flex;
}

#page-container {
	margin: 100px auto;
	margin-right: 20px;
	margin-left: 20px;
}

#stripe-form {
	margin-top: 100px;
	margin-top: 50px;
	right: 5px;
}

.group-admin-header, .group-main {
	margin-top: 100px;
}

.header {
	margin-top: 100px;
}

.footer {
	position: fixed;
	bottom: 0;
}

.user-main {
	margin-bottom: 100px;
}

.group-admin-main, .group-main  {
	margin-bottom: 100px;
}

.all-users {
	margin-top: 100px;
}

.avatar {
	height: 70px;
	border-radius: 10%;
}

#user-account {
	font-size: 50px;
}

.transactions-list{
	border: dashed .5px rgb(88, 87, 87);
	margin: 0;
}

.funding-goal {
	background-color: rgba(144,202,249, .9);
	width: fit-content;
	border-radius: 7%;
	box-shadow: 2px 1px 1px #000;
	padding: .1%;
	padding-left: 1%;
	padding-right: 1%;
	position: fixed;
	right: 10px;
	top: 80px;
	font-size: large;
}

#goal-amount {
	font-weight: bolder;
}

.funding-goal > label {
	color: #000;
}

.group-main > .group-form {
	width: 300px;
	background-color: inherit;
	margin: 20px auto;
}

.group-form > form {
	padding: 50px 50px;
}

.group-table {
	margin-top: 150px;
}

.strip-input {
	margin: 4%;
	background-color: #fff;
}

.sidebar {
	position: absolute;
	right: 0;
}

.stripe-sidebar {
	bottom: 200px;
	position: absolute;
	right: 0;
}

.member-page {
	margin-top: 100px;
	display: flex;
}

.member-page > div#stripe-form {
	width: 30%;
	position: relative;
	margin-left: 1%;
	background-color: #3c97bf;
}

.member-page > div#stripe-form > form {
	background-color: #3c97bf;
}

.stripe-form-label {
	position: absolute;
	right: 5%;
	top: 110px;
}

.emoji {
	font-size: 100px;
}