
<%- include('../partials/header') %>

<main class="header sidebar">
  <div id="stripe-form sidebar">

    <form action="/member" method="POST">
      <div>Make a Stripe Payment</div>
      <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
      <input class="strip-input browser-default" id="paymentInput" type="number" placeholder="Enter Amount here" name="paymentAmount" value="1000" min="1000" required>
      <button
          id="paymentBtn"
          type="submit" 
          data-amount="10000"
          value="Pay with Card"
          data-key="pk_test_bxWBtKKtZqxBNXPxKzE8BLU8001CMawzKx"
          data-currency="usd"
          data-name="Funding Group <%= groupNo %>"
          data-description="Stripe Payment for $100.00"
          >Make a Payment</button>
</form>


  </div>
</main>

  <%- include('../partials/footer') %>