
<%- include('../partials/header') %>

<main class="header">
  <div id="stripe-form">

    <form action="/payments/charge" method="POST">
      <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
      <input id="paymentInput" type="number" placeholder="Enter Amount here" name="paymentAmount" required min="100">
      <button
          id="paymentBtn"
          type="submit" 
          data-amount="10000"
          value="Pay with Card"
          data-key="pk_test_bxWBtKKtZqxBNXPxKzE8BLU8001CMawzKx"
          data-currency="usd"
          data-name="Funding Group <%= groupNo %>"
          data-description="Stripe Payment for $100.00"
          >Make a Payment</button>
</form>


  </div>
</main>

  <%- include('../partials/footer') %>