<%- include('../partials/header') %>
<section>
  <main>
    <h2 class="header">Payment done successfully! $10.00</h2>
    <div><%= members %></div>
    <hr>
    <div><% members %></div>
  </main>
</section>

<%- include('../partials/footer') %>