<%- include('../partials/header') %>
<main>
<h2 class="header">
  Payment done successfully! $10.00
</h2>
<div><%= members %></div>
<hr>
<div><% members %></div>
</main>

<%- include('../partials/footer') %>