<%- include('../partials/header') %>

    <section class="member-info">
      <div class="row edit-fields">
        <h5><a class="btn wave-light" href="/member/<%=user._id%>/groups/new">Add Group</a></h5>
      <%if(user.transaction) {%>
      <table class="highlight">
        <thead>
          <tr>
              <th>#</th>
              <th>Group Id</th>
              <th>Members</th>
              <th>Join</th>
          </tr>
        </thead>

        <tbody>
          <%= group /*.forEach((trans, idx) => {*/%>
            <tr>
              <td><%#=idx+1%></td>
              <td><%#=trans._id%></td>
              <td><%#=trans.payer%></td>
              <td><%#=trans.paymentAmount%></td>
            </tr>
          <%#});%>
        </tbody>
      </table>
      <%} else {%>
        <div class="row">
          <div class="col s12">
            <div>
              <h4 class="center">No Transactions</h4>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </section>

    <%- include('../partials/footer') %>