<%- include('../partials/header') %>

  <% if (!user.siteAdmin) { %>
    <h1>Welcome Site Admin</h1>
    <% } else { %>
      <h1>You are not Authorized an as Site Admin</h1>
    <% } %>
   
 <%- include('../partials/footer') %>