<%- include('../partials/header') %>

  <section>
    <% if (!!user.groupAdmin) { %>
    <h1>Welcome Site Admin</h1>
    <% } else { %>
      <h1>You are not Authorized an as Site Admin</h1>
    <% } %>
  </section>
   
 <%- include('../partials/footer') %>