<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Group Admin</title>
</head>
<body>
  <% if (groupAdmin.name === true) { %>
    <h1>Welcome Group Admin</h1>
    <% } else { %>
        <h1>You are not Authorized as Group Administrator</h1>
    <% } %>
</body>
</html>